# Git & IDE
.git
.gitignore
.gitattributes
.vscode
.idea

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo

# Dependencies & Package Managers
node_modules
.pnp
.pnp.js
.pnpm-store
.npm
.cache

# Build Outputs
dist
build

# Tests & Coverage
coverage
test
*.spec.ts
*.test.ts

# Environment & Secrets
.env
.env.*
.env.local
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Docker Related
Dockerfile
.dockerignore
docker-compose.yml

# Docs & Miscellaneous
README.md
deployment